#root {
    display: flex;
    flex: 1;
}

.spacer60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;

    .col {
        display: flex;
        flex: 1;
    }
}

.label-switch {
    display: flex;
    align-items: center;

    .outer-label {
        padding-right: 15px;
    }
}

.card {
    border: 1px solid #cacaca;
    border-right-width: 0;
    flex: 1 1;
    min-height: 250px;

    .card-heading {
        margin: 0;
        font-size: 24px;
        background: #f9f9f9;
        padding: 15px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 16px;
        text-align: center;
    }

    .card-body {
        padding: 15px;
    }

    .card-img {
        width: 100px;
        height: 100px;
        border: 1px solid #a2a2a2;
        border-radius: 100%;
    }
}

.row {
    .col {
        &:last-of-type {
            .card {
                border-right-width: 1px;
            }
        }
    }
}

.flex {
    display: flex;
    flex: 1;

    &.row {
        flex-direction: row;
    }

    &.col {
        flex-direction: column;
    }
}

.flex-1 {
    flex: 1;
}

.justify-flex-end {
    justify-content: flex-end;
}